*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    min-height: 100%;
}

body{
    background: #121214;
    -webkit-font-smoothing: antialiased !important;
}
::-webkit-scrollbar {
    width:3px;
}
::-webkit-scrollbar-thumb{
    background:#93939D;
}


body, input, button {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    

    @media only screen and (max-width: 750px){
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas: 
            "aboutme"
            "card"
        ;
    }
}


/* SECTION CARDS */

@keyframes animationCard {
    from{
        transform: translate(-100%);
      }
      to {
        transform: translate(0%);
      }
}

section.card {
    width: 48%;
    padding: 20px;
    color: #EBEBEB;
    font-weight: bold;
    letter-spacing: 2px;

    animation-name: animationCard;
    animation-duration: 1s;
    animation-timing-function: ease-out;
	animation-fill-mode: both;

    @media only screen and (max-width: 900px) {
        width: 50%;
    }
    
    @media only screen and (max-width: 750px) {
        width: 100%;
        grid-area: card;
    }
}

.cardContent{
    background: #202024;
    margin-top: 15px;
    padding: 30px 40px;
    border: none;
    border-radius: 8px;

    transition: 0.5s;
}

.cardContent h1{
    color: #FFFFFF;
    margin-bottom: 10px;
    letter-spacing: normal;
}

.cardContent span{
    color: #93939D;
    letter-spacing: normal;
    font-weight: normal;
}

.cardContent:hover{
    transform: scale(1.05)
}

.cardHeader {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
        font-size: 11px;
        font-weight: bold;
        color: #F4F4F4;
        letter-spacing: 2px;
    }

}

.cardHeader .icon{
    color:  #03BADC;
    font-size: 20px;
}

/* SECTION ABOUT ME */

/* TITLE */

@keyframes  animationHeader {
    from{
        transform: translate(-100%);
    }
    to {
        transform: translate(0%);
    }
}

div#apresentation {
    padding-bottom: 40px;

    animation-name: animationHeader;
    animation-duration: 1s;
    animation-timing-function: ease-out;
	animation-fill-mode: both;

}

div#apresentation p{
    padding: 0 0 0 20px;
}   

div#apresentation h1{
    color: white;
    font-size: 45px;
}

div#apresentation p {
    color: #85858E;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* END TITLE */

@keyframes animationAboutMe {
    from{
        transform: translate(100%);
    }
    to {
      transform: translate(0%);
    }
}

section.about-me {
    padding: 20px;
    width: 48%;

    position: relative;

    color: white;

    animation-name: animationAboutMe;
    animation-duration: 1s;
    animation-timing-function: ease-out;
	animation-fill-mode: both;

    @media only screen and (max-width: 900px){
        width: 50%;
    }

    @media only screen and (max-width: 750px){
        width: 100%;
        grid-area: aboutme;

        position: unset;
    }
}


section.about-me div#description p{
    margin-bottom: 15px;
}


section.about-me div#expertise{
    font-weight: bold;
    letter-spacing: 1px;

    margin: 50px 0 0; 
}

section.about-me div#expertise  p{
    margin: 0 10px;
}

section.about-me div#expertise div{
    display: flex;
    margin: 15px 0 0;
    color: #93939D;

    transition: 0.5s;
}

section.about-me div#expertise div:hover{
    color: #F4F4F4;
    letter-spacing: 3px
}

section.about-me div#social-network {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

section.about-me div#social-network i {
    padding-right: 10px;
}

section.about-me div#social-network a{ 
    color: #F4F4F4;
    display: flex;
    align-items: center;
    margin: 0 10px;

    transition: 0.5s;
}

section.about-me div#social-network a:hover{
    transform: scale(1.1)
}
